/* Gotham Rounded */

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gotham-rounded/GothamRounded-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gotham-rounded/GothamRounded-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gotham-rounded/GothamRounded-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gotham-rounded/GothamRounded-BookItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gotham-rounded/GothamRounded-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gotham-rounded/GothamRounded-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gotham-rounded/GothamRounded-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gotham-rounded/GothamRounded-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
