@import "./style/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body { font-family: "Gotham Rounded", sans-serif; }

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gothamrounded-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gothamrounded-lightitalic-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gothamrounded-book-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gothamrounded-bookitalic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gothamrounded-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gothamrounded-mediumitalic-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/gothamrounded-bolditalic-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-gotham: "Gotham Rounded";

}